body,
p,
h1,
h2,
h3,
button {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

.page {
  font-family: sans-serif;
  font-weight: 400;
  min-width: 300px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1232px;
  padding: 0px 16px;
  margin: 0 auto;
  overflow: hidden;
}

.logo {
  width: 230px;
  height: 32px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.stop-scroll {
  overflow: hidden;
}

@media (max-width: 767px) {
  .logo {
    width: 127px;
    height: 18px;
  }
}
