.footer {
  margin-top: auto;
  background-color: $greyHigh;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.copy {
  font-size: 13px;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  color: $white;
}

@media (max-width: 767px) {
  .footer {
    &__container {
      flex-direction: column;
      gap: 12px;
    }
  }
}
